/* Activity List View */

.activities-grid {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: var(--spacing-l);
    grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
    justify-content: center;
}

.activity-content {
    background-color: var(--background1);
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 2rem;
    min-width: 256px;
    min-height: 17.5rem;
    display: flex;
    flex-direction: column;
    padding: var(--spacing-m) var(--font-size-l);
    gap: var(--spacing-m);
    justify-content: space-between;
}

.activity-content h2 {
    font-size: calc(1.6rem + 0.5vw);
    text-align: center;
    margin-bottom: var(--spacing-m);
}

.activity-content ul li,
.activity-content ul li a {
    font-size: calc(0.8rem + 0.5vw);
}

.activity-content .activity-file {
    width: calc(15rem + 1vw);
    height: calc(18rem + 1vw);
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 2px 5px #ccc;
}

@media screen and (max-width: 500px) {
    .activities-grid {
        gap: var(--spacing-m);
        grid-template-columns: repeat(2, 1fr);
    }
    
    .activity-content {
        min-width: 160px;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        padding: var(--spacing-m) var(--font-size-m);
        gap: var(--spacing-s);
        justify-content: space-between;
    }
    
    .activity-content h2 {
        font-size: calc(var(--font-size-m) * 0.6);
        text-align: center;
        margin-bottom: var(--spacing-s);
    }
    
    .activity-content ul li,
    .activity-content ul li a {
        font-size: calc(var(--font-size-s) * 0.5);
    }
    
    .activity-content .activity-file {
        width: calc(8rem + 2vw);
        height: calc(12rem + 2vw);
    }
    
}






/* Activity Detail View */

.activitiy-detail {
    padding: var(--spacing-m);
}

.activity-detail-content {
    width: 90%;
    margin: 0 auto;
}

.detail-description-and-file {
    display: flex;
    gap: var(--spacing-l);
}

.detail-description {
    width: max-content;
    padding: var(--spacing-s);
}

.detail-description p {
    color: black;
    text-align: justify;
    margin-bottom: var(--spacing-m);
}

.detail-description ul {
    list-style-type: none;
}

.detail-description ul li {
    font-size: var(--font-size-s);
    color: black;
}

.detail-file {
    width: fit-content;
    padding: 3rem;
    background-color: var(--background-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.167);
    border-radius: 3rem;
}

.detail-file::before {
    content: '';
    display: block;
    width: 40rem;
    margin: 0 auto;
    height: 55rem;
    background: white;
    border-radius: 3rem;
}

.acitivity-file-detail {
    max-width: 40%;
    margin: 0 auto;
    border: solid 3px black;
    background-color: var(--background-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.167);
    border-radius: 3rem;
}
