.activities {
    padding: var(--spacing-s);
}

.activities-list-container {
    margin: 3% 5%;
}

.activities-container-grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(16%, 18%));
}