/* Activity List View */
.activities {
    padding: 0 var(--spacing-m);
}

.activities h1 {
    color: black;
    text-align: center;
}

.activities-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-s);
}

.activity-content {
    background-color: var(--background-secondary);
    width: 100%;
    padding: var(--spacing-s);
    border-radius: 3rem;
    box-shadow: 0 2px 3px 0px rgba(57, 57, 57, 0.555);
}

.activity-content h2,
.activity-content h2 a {
    text-align: center;
    color: black;
    font-size: var(--font-size-m);
}

.no-file-list {
    display: block;
    margin: var(--spacing-ss) auto;
    width: 170px;
    height: 239px;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 2px 0 0 rgba(65, 65, 65, 0.274);
}

.activity-subject-list,
.activity-level-list {
    font-size: var(--font-size-ss);
    font-weight: 500;
}






/* Activity Detail View */

.activity-content-detail {
    margin: 3% 3% 0 3%;
}

.activity-group-detail {
    display: grid;
    grid-template-columns: 65% 35%;
}

.acitivity-title-detail {
    grid-column: span 2;
    text-align: center;
    color: var(--color-primary-white);
    font-size: 30px;
}

.description-content {
    margin: 5%;
}

.activity-description-detail,
.activity-subject-detail,
.activity-level-detail {
    color: var(--color-primary-white);
    font-size: 20px;
    margin-bottom: 2em;
}

.activity-subject-detail {
}

.activity-level-detail {
}

.no-file-container {
    border-radius: 3rem;
    width: 70%;
    height: 70vh;
    margin: 5% auto;
    border: solid 2px var(--color-primary-white);
    display: flex;
    align-items: center;
}

.no-file-detail {
    background: var(--color-background-2);
    backdrop-filter: blur(33px);
    width: 90%;
    height: 90%;
    margin: 0 auto;
    justify-content: cente;
    border-radius: 3rem;
}