/* Activity List View */

.activities-grid {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-s);
}

.activity-content {
    background-color: var(--background-secondary);
    width: 100%;
    padding: var(--spacing-s);
    border-radius: 3rem;
    box-shadow: 0 2px 3px 0px rgba(57, 57, 57, 0.555);
}

.activity-content h2,
.activity-content h2 a {
    text-align: center;
    color: black;
    font-size: var(--font-size-s);
}

.no-file-list {
    display: block;
    margin: var(--spacing-ss) auto;
    width: 170px;
    height: 239px;
    background-color: white;
    border-radius: 3rem;
    box-shadow: 0 2px 0 0 rgba(65, 65, 65, 0.274);
}

.no-file-list img {
    width: 100%;
    border-radius: 2rem;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.acitivity-file-list {
    margin: var(--spacing-ss) auto;
    width: 170px;
    height: 239px;
    border-radius: 3rem;
    box-shadow: 0 2px 0 0 rgba(65, 65, 65, 0.274);
}

.activity-subject-list,
.activity-level-list {
    font-size: var(--font-size-ss);
    font-weight: 500;
}

.activity-delete {
    display: block;
    margin-top: var(--spacing-ss);
}






/* Activity Detail View */

.activitiy-detail {
    padding: var(--spacing-m);
}

.activity-detail-content {
    width: 90%;
    margin: 0 auto;
}

.detail-description-and-file {
    display: flex;
    gap: var(--spacing-l);
}

.detail-description {
    width: max-content;
    padding: var(--spacing-s);
}

.detail-description p {
    color: black;
    text-align: justify;
    margin-bottom: var(--spacing-m);
}

.detail-description ul {
    list-style-type: none;
}

.detail-description ul li {
    font-size: var(--font-size-s);
    color: black;
}

.detail-file {
    width: fit-content;
    padding: 3rem;
    background-color: var(--background-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.167);
    border-radius: 3rem;
}

.detail-file::before {
    content: '';
    display: block;
    width: 40rem;
    margin: 0 auto;
    height: 55rem;
    background: white;
    border-radius: 3rem;
}

.acitivity-file-detail {
    max-width: 40%;
    margin: 0 auto;
    border: solid 3px black;
    background-color: var(--background-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.167);
    border-radius: 3rem;
}
