.login {
    width: 100%;
    padding: var(--spacing-m) 0;
    background: linear-gradient(to top, var(--primary-blue), #000a3bdc);
}

.form-container {
    width: 40rem;
    min-height: 40rem;
    margin: 0 auto;
    background-color: var(--background-secondary);
    border-radius: 1rem;
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.701);
}

.form-container h2 {
    text-align: center;
    padding: var(--spacing-s) 0;
    color: var(--primary-blue);
}

.form-login {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.forget {
    color: black;
    display: block;
    width: 20rem;
}

.form-login button {
    width: 30%;
    height: 4rem;
    margin: var(--spacing-ss) auto;
    background-color: var(--primary-green);
    border-radius: 3rem;
    border: none;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.634);
    color: white;
    font-size: var(--font-size-s);
    transition: all 0.2s;
}

.form-login button:hover {
    cursor: pointer;
    background-color: var(--secondary-green);
}