.register {
    width: 100%;
    background-color: var(--primary-blue);
    padding: var(--spacing-m) 0;
}

.form-frame {
    width: 60rem;
    margin: 0 auto;
    border-radius: 2rem;
    background-color: var(--background-secondary);
    box-shadow: 4px 6px 5px 2px rgba(0, 0, 0, 0.701);
    padding: var(--spacing-ss) 0;
}

.form-frame h2 {
    text-align: center;
    color: var(--primary-blue);
    font-family: var(--font-outfit);
    font-weight: 800;
    padding: var(--spacing-s);
}

.register-form {
    width: 85%;
    margin: 0 auto;
}

.grid-content-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-ss);
}

.form-label {
    color: var(--primary-blue);
    font-weight: 500;
}

.form-input input {
    width: 100%;
    background-color: transparent;
    color: black;
    font-weight: 500;
    height: 3rem;
    border: none;
    border-bottom: solid 2px var(--primary-blue);
    outline: none;
}

.form-input input::placeholder {
    color: black;
}

.form-help {
    font-size: var(--font-size-sss);
    color: black;
    padding: var(--spacing-ss) 0;
    font-weight: 500;
}

.has-account {
    color: black;
    display: block;
    margin: var(--spacing-s) 0;
    font-size: var(--font-size-ss);
    text-align: center;
}

.has-account a {
    color: var(--primary-blue);
    text-decoration: underline;
    font-size: var(--font-size-ss);
}

.form-errors {
    color: red;
    font-size: var(--font-size-sss);
    text-decoration: none;
}

.form-errors li {
    list-style-type: none;
    padding: 0.3rem 0;
}