.register-content-container {
    padding: 3%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    background: url(imgs/background_register.jpg) no-repeat center/100%;
}

.register-description {
    width: 50%;
    padding: 3%;
}

.register-description h2 {
    color: var(--color-primary-white);
    font-size: 32px;
    margin: 0 10% 5% 0;
}

.register-description p {
    color: var(--color-primary-white);
    font-size: 18px;
    margin: 0 10% 0 0;
}

.register-content {
    width: 50%;
    background: None;
}

.register-user {
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: 8%;
    border-radius: 10%;
    border: solid 2px white;
    backdrop-filter: blur(35px);
}

.register-form {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 30px;
    column-gap: 1%;
}

.register-user h2 {
    text-align: center;
    margin-bottom: 10%;
    color: var(--color-primary-white)
}

.field {
    width: 95%;
    margin: 0 auto;
}

.field-label {
    font-family: var(--font-roboto);
    font-weight: 600;
    font-size: 18px;
    color: var(--color-primary-white);
    text-shadow: 50px 10px 10px 15px black;
}

.field-input input {
    width: 100%;
    height: 2rem;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primary-white);
    color: var(--color-primary-white);
}

.button-content {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
}

.submit-button {
    background: rgb(31, 29, 29);
    border-radius: 3rem;
    padding: 0.6rem 2.1rem;
    color: white;
    box-shadow: 0 0 3px 0 black;
}

.submit-button:hover {
    background: rgb(55, 51, 51);
    cursor: pointer;
}

.field-errors {
    color: red;
    font-weight: 700;
    margin-top: 2%;
}

.errorlist li {
    list-style-type: none;
}
