@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&display=swap');
@import url(footer.css);
@import url(header.css);
@import url(pagination.css);
@import url(search.css);


:root {
    /* Background Colors */
    --background1: #f4f4f4;
    --background2: #e0e0e0;
    --background3: #aeaeae;

    /* Primary Colors */
    --blue1: #000A3B;
    --green1: #008646;
    --green2: #006434;
    --orange1: #E3651D;
    --orange2: #c5591b;
    --yellow1: #f2d80f;
    --black: #000;
    --white: #fff;

    /* Fonts */
    --font-outfit: "Outfit", sans-serif;
    --font-fira: "Fira Sans", sans-serif;

    /* Fonts Sizes */
    --font-size-xxs: 0.8rem;   /* Extra Extra Pequeno (8px) */
    --font-size-xs: 1rem;      /* Extra Pequeno (10px) */
    --font-size-ss: 1.2rem;    /* Muito Pequeno (12px) */
    --font-size-s: 1.6rem;    /* Pequeno (16px) */
    --font-size-m: 2rem;      /* Médio (20px) */
    --font-size-l: 2.4rem;    /* Grande (24px) */
    --font-size-xl: 2.8rem;   /* Muito Grande (28px) */
    --font-size-2xl: 3.2rem;  /* Extra Grande (32px) */
    --font-size-3xl: 3.6rem;   /* Gigante (36px) */
    --font-size-4xl: 4rem;     /* Enorme (40px) */
    --font-size-5xl: 4.4rem;   /* Extremamente Grande (44px) */
    --font-size-6xl: 4.8rem;   /* Super Grande (48px) */
    --font-size-7xl: 5.2rem;   /* Ultra Grande (52px) */
    --font-adaptive-paragraph: calc(1rem + 1.5vw);

    /* Spacings */
    --spacing-xxs: 0.2rem;
    --spacing-xs: 0.5rem; /* Extra Small */
    --spacing-s: 1rem;    /* Small */
    --spacing-m: 1.5rem;  /* Medium */
    --spacing-l: 2.5rem;  /* Large */
    --spacing-xl: 4rem;   /* Extra Large */
    --spacing-xxl: 6rem;  /* Extra Extra Large */
    --spacing-xxxl: 8rem; /* Extra Extra Extra Large */    
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fira);
    text-decoration: none;
    list-style-type: none;
}

body {
    background: var(--background1);
    font-size: var(--font-size-m);
}

section {
    margin-bottom: 40px;
}

h1, h2, h3, h4{
    font-family: var(--font-outfit);
    color: var(--black);
    letter-spacing: 0.2rem;
}

h1 {
    font-size: var(--font-size-4xl);
}
h2 {
    font-size: var(--font-size-2xl);
}
h3, h4 {
    font-size: var(--font-size-xl);
}

p, a, span,i, button {
    font-size: var(--font-size-m);
    color: var(--black);
}

ul, li {
    list-style-type: none;
    font-size: var(--font-size-s);
}

@media screen and (max-width: 620px) {
    h1 {
        font-size: calc(var(--font-size-4xl) * 0.6);
    }
    h2 {
        font-size: calc(var(--font-size-2xl) * 0.6);
    }
    h3, h4 {
        font-size: calc(var(--font-size-xl) * 0.6);
    }

    p, a, span, i, button {
        font-size: calc(var(--font-size-m)* 0.6);
    }
    
    ul, li {
        list-style-type: none;
        font-size: calc(var(--font-size-s)* 0.6);
    }
}

.main {
    margin-top: 64px;
}

.title-center {
    width: 100%;
    text-align: center;
    padding: var(--spacing-l);
}

.paragraph-justify {
    text-align: justify;
}

.link {
    color: var(--blue1);
    text-decoration: underline;
}

.message-center {
    text-align: center;
    padding: var(--spacing-ss);
    width: 95%;
    margin: var(--spacing-ss) auto;
    border-radius: 1rem;
}

.success {
    background-color: rgba(119, 255, 119, 0.488);
    border: solid 2px rgba(119, 255, 119);
}

.error {
    background-color: rgba(234, 33, 33, 0.305);
    border: solid 2px rgba(234, 33, 33);

}

.warning {
    background-color: rgba(255, 252, 96, 0.462);
    border: solid 2px rgba(255, 252, 96);
}

.default-button {
    width: fit-content;
    padding: 0.6rem 2.1rem;
    display: block;
    border: none;
    box-shadow: 2px 2px 5px 0px rgba(125, 135, 145, 0.79);
    color: white;
    transition: all 0.2s;
}

.green-round {
    background-color: var(--green1);
    border-radius: 2rem;
}

.green-round:hover {
    cursor: pointer;
    background-color: var(--green2);
    transform: translateY(-0.3rem);
}

.green-square {
    background-color: var(--green1);
    border-radius: 0.5rem;
}

.green-square:hover {
    cursor: pointer;
    background-color: var(--green2);
    transform: translateY(-0.3rem);
}

.orange-square {
    background-color: var(--orange1);
    border-radius: 0.5rem;
}

.orange-square:hover {
    cursor: pointer;
    background-color: var(--orange2);
    transform: translateY(-0.3rem);
}

.orange-round {
    background-color: var(--orange1);
    border-radius: 2rem;
}

.orange-round:hover {
    cursor: pointer;
    background-color: var(--orange2);
    transform: translateY(-0.3rem);
}

.default-link {
    color: var(--primary-blue);
}

.center {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

@keyframes slideInLeft {
    from {
        transform: translateX(80vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes littleSlideInLeft {
    from {
        transform: translateX(5vh);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-80vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(5rem);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes showElement {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate-on-scroll {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.animate-on-scroll.slide-left.animate-enter {
    opacity: 1;
    animation: slideInLeft 1s forwards;
}

.animate-on-scroll.little-slide-left.animate-enter {
    opacity: 1;
    animation: littleSlideInLeft 1s forwards;
}

.animate-on-scroll.slide-right.animate-enter {
    opacity: 1;
    animation: slideInRight 1s forwards;
}

.animate-on-scroll.slide-up.animate-enter {
    opacity: 1;
    animation: slideInUp 1s forwards;
}
