@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES:wght@100..400&family=Recursive:wght@300..1000&family=Roboto+Slab:wght@100..900&display=swap');
@import url(footer.css);
@import url(header.css);


:root {
    --color-primary-dark: #373331;
    --color-secondary-dark: #605A56;
    --color-primary-white: #F8FAE5;
    --color-primary-red-wine: #541212;
    --color-primary-green-olive: #BED754;
    --color-primary-orange: #E3651D;

    --font-poppins-logo: 'Poppins', sans-serif;
    --font-arvo-paragraph: 'Arvo', serif;
    --font-noto-sans: "Noto Sans HK", sans-serif;
    --font-cursive: "Playwrite ES", cursive;
    --font-roboto: "Roboto Slab", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: var(--font-noto-sans);
}

body {
    background: rgb(26, 25, 25);
}

.main-content-container {
    margin: 8vh 0;
}

.message-center {
    text-align: center;
    padding: 0.8rem;
    width: 100%;
}

.success {
    background-color: rgba(119, 255, 119, 0.681);
}

.error {
    background-color: rgba(234, 33, 33, 0.681);
}