.main-footer {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-secondary-dark);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.infos {
    color: var(--color-primary-white);
    width: 80%;
    text-align: justify;
}

.infos h4 {
    margin-bottom: 0.4rem;
    font-size: 24px;
    text-decoration: underline solid var(--color-primary-white) 2px;
}

.creator {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding-left: 2rem;
}

.creator i {
    display: flex;
}

.creator span {
    margin-left: 5px;
}