.header-container {
    width: 100%;
    background-color: var(--background-secondary);
    min-height: 9vh;
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    width: 90%;
    margin: 0 auto;
    height: var(--spacing-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-home {
    max-width: 25.2rem;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 800;
    font-size: var(--font-size-m);
}

.logo-home img {
    height: 80%;
    margin-right: var(--spacing-ss);
}

.logo-home span {
    font-size: var(--font-size-s);
}

.link-login a {
    padding: 0.4rem 1rem;
    height: 6vh;
    width: 6vh;
    color: black;
    border: solid 2px black;
    border-radius: 0.6rem;
}

/* Header for login/register */

#register_login .logo-home img {
    border-radius: 50%;
}

/* User Perfil | Navigation Items */

.user-menu {
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    position: relative;
    margin-left: 3rem;
}

.user-menu span {
    margin-right: var(--spacing-ss);
    font-size: var(--font-size-s);
    color: black;
}

.user-menu a {
    display: flex;
    align-items: center;
}

.user-menu a img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.user-menu a img:hover {
    cursor: pointer;
}

.menu-options {
    position: absolute;
    display: none;
    width: 100%;
    flex-direction: column;
    padding: var(--spacing-s);
    top: 5.1rem;
    right: 0;
    list-style-type: none;
    background-color: var(--background-primary);
    border: solid 1px rgba(128, 127, 127, 0.808);
    border-radius: 1.4rem;
    align-items: flex-end;
    color: black;
    z-index: 20;
    box-shadow: 1px 1px 10px -2px rgb(143, 143, 143);
}

.menu-options li a {
    color: black;
    margin-bottom: var(--spacing-ss);
}

.menu-options li a:hover {
    cursor: pointer;
}

.menu-options li form button {
    font-size: var(--font-size-s);
    border: none;
    background-color: transparent;
}

.menu-options li form button:hover {
    cursor: pointer;
}

.navigation-items {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.link-group {
    height: 100%;
    width: 16rem;
}

.hover_element {
    color: black;
    display: block;
    line-height: 6.4rem;
    text-align: center;
    position: relative;
}

.hover_element::after {
    content: '';
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    display: block;
    width: 0%;
    margin: 0 auto;
    height: 3px;
    background-color: transparent;
    transition: all 0.2s;
}

.hover_element:hover::after {
    background-color: var(--primary-green);
    width: 80%;
}

/* IF SELECTED PAGE */
.selected_page::before {
    content: '';
    position: absolute;
    top: 58px;
    right: 0;
    left: 0;
    display: block;
    background-color: var(--primary-green);
    width: 80%;
    margin: 0 auto;
    height: 3px;
}

.link-options {
    width: 100%;
    padding: var(--spacing-ss);
}

.link-options li a {
    display: block;
    font-size: var(--font-size-ss);
    margin: var(--spacing-ss) 0;
    color: black;
    transition: all 0.1s;
}

.link-options li a:hover {
    color: var(--primary-green);
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 20;
    width: 100%;
    background-color: var(--background-secondary);
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.155);
}

.dropdown:hover .dropdown-content {
    display: block;
}