.header-container {
    width: 100%;
    background-color: var(--background-secondary);
}

.nav-bar {
    width: 90%;
    margin: 0 auto;
    height: var(--spacing-m);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.link-home {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 800;
    font-size: var(--font-size-m);
}

.link-home img {
    height: 6vh;
    margin-right: var(--spacing-ss);
}

/* Header for login/register */

#register_login {
    background-color: transparent;
}

#register_login .link-home {
}

#register_login .link-home img {
    border-radius: 50%;
}

