/* Search Page */

.search-camp {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-s);
    margin: 0 auto;
}

.search-form {
    position: relative;
    display: block;
}

.search-form input {
    width: 35rem;
    height: 3rem;
    padding-left: 10px;
    padding-right: 25px;
    background-color: rgb(216, 216, 216);
    border: none;
    backdrop-filter: blur(32);
    color: black;
    border-radius: 1rem;
    font-size: 14px;
    transition: all 0.3s;
}

.search-form input:focus {
    background: rgb(195, 195, 195);
}

.search-form button {
    position: absolute;
    right: 0.4rem;
    background: none;
    border: none;
    z-index: 5;
    min-height: 1.8rem;
    min-width: 1.8rem;
    justify-content: center;
    top: 0.6rem;
    transition: all 0.3s;
}

.search-form button:hover {
    cursor: pointer;
    transform: translateY(-0.2rem);
}

.search-camp a {
    display: block;
    color: black;
    padding: 0.5rem 1rem;
}