{% extends "global/base.html" %}

{% block title %}Learn Lab{% endblock title%}

{% block content %}

{% for message in messages %}
<div class="message-center {{message.tags}}">{{message}}</div>
{% endfor %}

<section class='activities'>
    <h1 class="title-center">Atividades</h1> <br>

    {% include "global/partials/search.html" %} <br>

    {% if activities %}
        <div class='activities-grid'>
            {% for activity in activities %}
                {% include "learn_lab/partials/activity.html" %}
            {% endfor %}
        </div>
    {% else %}
        <h2 class="title-center">Nenhuma atividade encontrada</h2>
    {% endif %}
</section>

{% include "global/partials/pagination.html" %}

{% endblock content %}