{% extends "global/base.html" %}
{% block title %}Alterar Senha{% endblock title%}
{% block content %}
{% for message in messages %}
    {% if message.tags == 'success' %}
        <div class="message-center {{message.tags}} text-s"><i class="fa-solid fa-circle-check" style="color: #008646;"></i> {{message}}</div>
    {% elif message.tags == 'error' %}
        <div class="message-center {{message.tags}} text-s"><i class="fa-solid fa-circle-xmark" style="color: #ff2929;"></i> {{message}}</div>
    {% elif message.tags == 'warning' %}
        <div class="message-center {{message.tags}} text-s"><i class="fa-solid fa-triangle-exclamation" style="color: #f2d80f;"></i> {{message}}</div>
    {% endif %}
{% endfor %}
<section class="change-password p-x-l">
    <div class="change-password-container w-fit p-x-l shadow-light-big background-2">
        <h2 class="text-center title-2xl text-blue p-y-l">Alterar senha</h2>
        <form method="post" action="{{form_action}}" class="change-password_form text-s">
            {% csrf_token %}
            {% for field in form %}
            <div>
                <label class="title-l text-blue light block p-y-s" for="{{id_for_label}}">{{field.label}}</label>
                <div>{{field}}</div>
                {% if field.errors %}
                    <p class="text-red">{{field.errors}}</p>
                {% endif %}
                {{field.help_text}}
            </div>
            {% endfor %}
            <button class="default-button medium-button inside_green m-y-l" style="width: 100%;" type="submit">Alterar senha</button>
        </form>
    </div>
</section>
{% endblock content %}