{% extends "global/base.html" %}

{% block content %}
<section class="change-password p-x-l">
    <div class="change-password-container w-fit p-l shadow-light-big background-2">
        <h2 class="title-2xl text-blue p-y-l">Esqueci minha senha</h2>
        <p class="text-s" style="margin-bottom:20px;">Insira o e-mail cadastrado na plataforma para receber um link de redefinição de senha</p>
        <form method="post" action="{{form_action}}" class="change-password_form text-s">
            {% csrf_token %}
            <label for="ask-email">Email:</label>
            <input type="email" name="email" id="ask-email" placeholder="usuario@email.com">
            <button class="default-button medium-button inside_green m-y-l" style="width: 100%;" type="submit">Enviar</button>
            <a href="{% url "users:login" %}" class="link text-center block">Voltar para o Login</a>
        </form>
    </div>
</section>
{% endblock content %}