{% extends "global/base.html" %}
{% block title %}Redefinir senha{% endblock title%}
{% block content %}
<section class="change-password p-x-l">
    <div class="change-password-container w-fit p-l shadow-light-big background-2">
        <h2 class="title-2xl text-blue p-y-l">Resetar sua senha</h2>
        <p class="text-s" style="margin-bottom:20px;">Crie uma nova senha para logar na plataforma</p>
        <form method="post" action="{{form_action}}" class="change-password_form text-s">
            {% csrf_token %}

            <label for="id_new_password" class="title-m m-y-s block">{{form.new_password.label}}</label>
            <input type="password" name="new_password" placeholder="••••••••" required="" aria-describedby="id_new_password_helptext" id="id_new_password">
            <p class="m-y-s">{{form.new_password.help_text}}</p>
            {% if form.errors %}
            {{form.new_password.errors}}
            {% endif %}

            <br>
            
            <label for="id_new_password" class="title-m m-y-s block">{{form.repeat_password.label}}</label>
            <input type="password" name="repeat_password" required="" placeholder="••••••••" id="id_repeat_password">
            {% if form.errors %}
                <p class="text-xs text-red">{{form.repeat_password.errors}}</p>
            {% endif %}

            <button class="default-button medium-button inside_green m-y-l" style="width: 100%;" type="submit">Salvar</button>
        </form>
    </div>
</section>
{% endblock content %}