.home {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.title {
    color: var(--color-primary-white);
    font-size: 2.4rem;
    padding-right: 5%;
    margin-bottom: 1rem;
}

.title span {
    color: var(--color-yellow-dark);
}

.title-description {
    color: var(--color-primary-white);
    font-size: 1rem;
    padding-right: 5%;
    margin-bottom: 1rem;

}

.dft-button {
    background: var(--color-second-dark);
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    box-shadow: 0 5px 10px 0 black;
    transition: all 0.1s;
}

.dft-button:hover {
    cursor: pointer;
    background: var(--color-second-dark-transition);
}

.dft-button a {
    text-decoration: none;
    color: var(--color-yellow-dark);
    font-size: 1rem;
}

.img-tabela {
    padding: 10%;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

.img-tabela img {
    width: 100%;
    justify-content: center;
}