.elements-list {
    width: 100%;
    padding: var(--spacing-s);
}

.list-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: var(--spacing-m) auto;
    gap: var(--spacing-s);
}

.element-box {
    display: grid;
    width: fit-content;
    grid-template-columns: 5rem 15rem;
    grid-template-rows: 5rem;
    margin-bottom: 2rem;
    gap: 2rem;
    margin: 0 auto;
}

.element-item {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.element-item:hover {
    transform: translateY(-0.3rem);
}

.element-simbol {
    font-family: var(--font-roboto);
    color: var(--color-primary-white);
    text-shadow: 2px 2px black;
}

.element-name {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-noto-sans);
    color: var(--color-primary-white);
}