/* Section Hero */

.hero {
    width: 100%;
    position: relative;
    min-height: calc(100vh - 64px);
}

.hero-title-container {
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: row;
}

.hero-title-container::after {
    content: '';
    position: absolute;
    display: block;
    background: #000a3bf5;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40rem;
}

.hero-title-container h1 {
    width: 65%;
    padding: var(--spacing-xxl);
    color: var(--white);
    font-size: var(--font-size-6xl);
    font-weight: 800;
}

.hero-title-container h1 span {
    color: var(--green1);
    font-size: var(--font-size-6xl);
}

.hero-img-container {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-img-container img {
    height: 80%;
}

.introduction {
    width: 80%;
    margin: var(--spacing-xl) auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--spacing-xxxl);
    flex-wrap: wrap;
}

.introduction .frame {
    min-width: 22rem;
    max-width: 24rem;
    flex: 1;
    padding: var(--spacing-l);
    height: 18.0rem;
    background-color: var(--green1);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 4px #ccc ;
}

.introduction .frame p {
    color: var(--white);
    text-align: center;
    margin: 0 auto;
}

/* Media for Hero Section */
@media (max-width: 1000px) {
    .hero-title-container h1 {
        padding: var(--spacing-xl);
        margin: 0;
    }

    .hero-title-container h1,
    .hero-title-container h1 span {
        font-size: calc(var(--font-size-6xl) * 0.75);
    }

    .introduction {
        width: 90%;
        gap: var(--spacing-l);
    }
}


@media (max-width: 768px) {
    .hero-title-container {
        flex-direction: column;
    }

    .hero-title-container h1 {
        width: 100%;
        text-align: justify;
    }

    .hero-title-container h1,
    .hero-title-container h1 span {
        font-size: calc(var(--font-size-4xl) * 0.6);
    }

    .hero-title-container img {
        height: 20rem;
    }

    .hero-img-container {
        width: 100%;
        justify-content: end;
    }

    .introduction p {
        font-size: calc(var(--font-size-m) * 0.75);
    }
}











/* About Section */
.about {
    width: 100%;
    min-height: calc(100vh - 64px);
}

.about h2 {
    text-align: center;
    color: var(--white);
    padding: var(--spacing-m);
    width: 90%;
    margin: 0 auto;
    background: var(--blue1);
    border-radius: 3rem;
    margin-bottom: var(--spacing-xxl);
}

.objectives {
    max-width: 80%;
    margin: var(--spacing-l) auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
}

.objectives .frame {
    flex: 1;
    min-width: 25rem;
    max-width: 35rem;
    border: solid 2px #ccc;
    background-color: var(--white);
    border-radius: 3rem;
    box-shadow: 0 2px 5px #ccc;
    padding: var(--spacing-s);
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 0.6rem;
    background-color: var(--blue1);
    border-radius: 2.6rem;
    margin: var(--spacing-s) auto;
}

.objective-img {
    width: 100%;
    border-radius: 2rem;
}

.objectives-text {
    color: var(--black);
    text-align: center;
    margin: var(--spacing-l) 0;
}

@media screen and (max-width: 620px) {
    .objectives-text {
        font-size: calc(var(--font-size-m) * 0.6) ;
    }
}









/* Content Section */
.site-content {
    width: 100%;
    min-height: calc(100vh - 64px);
    padding: var(--spacing-xl) 0;
}

.site-content h2 {
    color: black;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: 800;
}

.site-content h2::after {
    content: '';
    display: block;
    width: 26rem;
    height: 0.4rem;
    margin: 0.4rem auto 5rem auto;
    background-color: black;
}

.subject-section {
    width: 60%;
    background-color: var(--white);
    margin: var(--spacing-l) auto;
    border-radius: 3rem;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.574);
}

.subject-section h3 {
    color: var(--primary-green);
    text-align: center;
    width: 100%;
    padding: var(--spacing-s) 0 0 0;
    font-family: var(--font-outfit);
}

.subject-section h3::after {
    content: '';
    display: block;
    width: 12rem;
    height: 0.4rem;
    background-color: var(--green1);
    margin: 0 auto;
}

.subject-content-container {
    width: 100%;
    display: grid;
    padding: 0 2rem;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: var(--spacing-xl) 0;
}

.subject-content p{
    font-weight: 600;
    display: block;
    margin-bottom: var(--spacing-m);
    padding: 0 3rem 2.5rem 0;
}

.subject-icon {
    width: 60%;
    background-color: var(--primary-blue);
    margin: auto auto;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -4px 4px 5px #ccc;
}

.subject-icon img {
    width: 100%;
    border-radius: 24px;
}

@media (max-width: 1200px) {
    .subject-section {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .subject-content-container {
        display: flex;
        flex-direction: column;
    }

    .subject-icon {
        width: 40%;
    }

    .subject-content p {
        text-align: center;
        margin: var(--spacing-l);
        padding: 0;
    }
}
