.chart-title {
    text-align: center;
    color: var(--color-primary-white);
    margin: 3rem 0 ;
}

.main-content-grid {
    margin: 0 3%;
}

.grid-tabela {
    display: grid;
    grid-template-columns: repeat(18, 5.2%);
    align-items: center;
    gap: 5px;
    padding: 5rem 0;
}

.link-no-decoration {
    text-decoration: none;
    color: var(--color-background-black);
}

@media screen and (max-width: 1430px) {
    .main-content-grid {
        display: flex;
        overflow-x: auto;
    }
}

.grid-item-container {
    width: 100%;
}

.grid-item {
    display: flex;
    min-height: 7.38rem;
    flex-direction: column;
    background: none;
    color: var(--color-background-black);
    text-decoration: none;
}

.grid-item span,
.grid-item h2,
.grid-item p {
    display: inline;
    color: var(--color-background-black);
    font-weight: 600;
}

.grid-item .num-atom-num-mass {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.grid-item h2 {
    font-size: var(--font-size-large);
    text-align: center;
}

.grid-item p {
    font-size: 1.2rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

/* Classes para tipos de elementos */
.ametal {
    width: 100%;
    background-color: #E5E50E; /* Amarelo */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.nobel-gas {
    background-color: #C757F7; /* Roxo Claro */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.metal-alcaline {
    background-color: #fb4141; /* Vermelho Claro */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.metal-alcaline-2 {
    background-color: #40cfff; /* Azul Claro */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.semimetal {
    background-color: #f43b3b; /* Vermelho */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.halogen {
    background-color: #00B916; /* Verde Claro */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.semiconductor {
    background-color: #3e7eff; /* Azul */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.trans-metal {
    background-color: #FFB727; /* Laranja Claro */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.lantanide {
    background-color: #FF720E; /* Laranja */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

.actinide {
    background-color: #0EFF52; /* Verde Neon */
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 black;
}

/* Classe de quebra de linha para elementos */
.actinide-se,
.lantanide-se {
    position: relative;
}

.lantanide-se span,
.actinide-se span{
    color: var(--color-primary-white);
    border-bottom: solid 1.5px white;
    position: absolute;
    bottom: 15px;
    font-size: var(--font-size-small);
}

.space-17 {
    grid-column-start: 2;
    grid-column-end: 18;
}

.space-10 {
    grid-column-start: 3;
    grid-column-end: 13;
}

.space-3 {
    grid-column: span 2;
}

.space-row {
    grid-column-start: 1;
    grid-column-end: 19;
    grid-row-start: 8;
    grid-row-end: 10;
}