<footer class='main-content main-footer'>
    <div class="infos">
        <h4>Tabela Periódica</h4>
        <p>Esse site trás o aprendizado/pesquisa sobre os elementos da tabela periódica.
            Nele contém as principais informações dos elementos, assim como um bônus de curiosidades!
        </p>
    </div>

    <div class="creator">
        <i class="fa-brands fa-instagram" style="color: #ffffff;"><span>Ric02x</span></i>
        <i class="fa-regular fa-envelope" style="color: #ffffff;"><span>ricvenicius@gmail.com</span></i>
    </div>
</footer>