{% load static %}

{% if not login_page and not register_page %}
<header class='header-container'>
    <nav class='nav-bar'>
        <div class='logo-home'>
            <img src="{% static "global/assets/logo.png" %}" alt=""><span>ATOMIC DISCOVERIES</span>
        </div>

        <div class="navigation-items-bar" id="dropdown-navigation-items">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <div class="navigation-items" id="dropdown-navigation-items-menu">
            <div class="link-group">
                <a class="hover_element {% if home_page %}selected_page{% endif %}" href="/">Início</a>
            </div>
            <div class="link-group dropdown">
                <a class="hover_element {% if element_page %}selected_page{% endif %}" href="{% url "table_elements:table" %}">Elementos</a>
                <div class="dropdown-content">
                    <ul class="link-options">
                        <li><a href="{% url "table_elements:table" %}">Tabela Periódica</a></li>
                        <li><a href="{% url "table_elements:elements_list" %}">Lista de Elementos</a></li>
                    </ul>
                </div>
            </div>
            <div class="link-group dropdown">
                <a class="hover_element {% if learn_lab_page %}selected_page{% endif %}" href="{% url "learn_lab:learn_lab_home" %}">Laboratório</a>
                <div class="dropdown-content">
                    <ul class="link-options">
                        <li><a href="{% url "learn_lab:learn_lab_home" %}">Atividades</li></a>
                        <li><a href="#">Jogos didáticos</li></a>
                        <li><a href="{% url "learn_lab:activity_create" %}">Criar atividade</li></a>
                    </ul>
                </div>
            </div>
        </div>

        {% if user.is_authenticated %}
        <div id="overlay" class="overlay"></div>
        <div class="user-menu">
            <div class="user-icon" id="dropdown-user"><span>{{user.first_name}}</span><img src="{{user.profile.avatar.url}}"></div>
            <div class="user-options" id="dropdown-user-menu">
                <hr>
                <ul class="menu-options">
                    <li><i class="fa-solid fa-user" style="color: #008646;"></i><a class="link-user" href="{% url "users:profile" %}">Perfil do usuário</a></li>
                    <li>
                        <form action="{% url "users:logout" %}" method="POST" id="form-logout">
                            {% csrf_token %}
                            <input type="hidden" name="username" value={{request.user.username}}>
                            <i class="fa-solid fa-right-from-bracket" style="color: #008646;"></i>
                            <button class="link-user" type="submit" id="logout">Sair</button>
                        </form>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        {% else %}
        <div class="link-login">
            <a href="{% url "users:login" %}">Logar</a>
        </div>
        {% endif %}
    </nav>
</header>

{% else %}
<header id='register_login' class='header-container'>
    <nav class='nav-bar'>
        <div class='logo-home'>
            <img src="{% static "global/assets/green-logo.png" %}" alt=""><span>ATOMIC DISCOVERIES</span>
        </div>
    </nav>
</header>
{% endif %}