<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="text-s text-black" href="?page=1{{additional_url_query}}">1</a>
            <a class="text-s text-black" href="?page={{ page_obj.previous_page_number }}{{additional_url_query}}">&laquo;</a>
        {% endif %}

        <p class="current text-s" style="display:inline;">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </p>

        {% if page_obj.has_next %}
            <a class="text-s text-black" href="?page={{ page_obj.next_page_number }}{{additional_url_query}}">&raquo;</a>
            <a class="text-s text-black" href="?page={{ page_obj.paginator.num_pages }}{{additional_url_query}}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    </span>
</div>