<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1{{additional_url_query}}">&laquo; 1</a>
            <a href="?page={{ page_obj.previous_page_number }}{{additional_url_query}}">anterior</a>
        {% endif %}

        <span class="current">
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{{additional_url_query}}">próxima</a>
            <a href="?page={{ page_obj.paginator.num_pages }}{{additional_url_query}}">{{ page_obj.paginator.num_pages }} &raquo;</a>
        {% endif %}
    </span>
</div>