<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "global/partials/head_meta.html" %}
    <title>{% block title %}{% endblock title %} | Tabela Periódica</title>
</head>

<body>
    {% if register_page %}
    {% elif login_page %}
    {% else %}    
        {% include "global/partials/header.html" %}
    {% endif %}

    {% if not register_page and not login_page %}
        <div class="main">
    {% endif %}

    {% block content %}{% endblock content %}

    {% if not register_page and not login_page %}
        </div>
    {% endif %}

    {% include "global/partials/footer.html" %}
</body>
</html>