<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "global/partials/head_meta.html" %}
    <title>{% block title %}{% endblock title %} | Tabela Periódica</title>
</head>

<body>
    {% if not register_page %}
        {% include "global/partials/header.html" %}
    {% endif %}

    <div class="main-content-container">
        {% block content %}{% endblock content %}
    </div>
    
    {% if not register_page or login_page %}
        {% include "global/partials/footer.html" %}
    {% endif %}
</body>
</html>