{% if elements %}
<div class="list-content">
    {% for element in elements %}
    <div class="element-box">
        <a href="{% url "periodic_table:single_element" element.slug %}">
            <div class="element-item {{element.get_css_class}}">
                <h2 class='element-simbol title-l'>{{element.symbol}}</h2>
            </div>
        </a>
        <p class="element-name text-s">
            {{element.name}}
        </p>
    </div>
    {% endfor %}
</div>
{% else %}
<h2 class="title-2xl text-center m-y-l">Nenhum elemento encontrado</h2>
{% endif %}
