{% extends "global/base.html" %}
{% load static %}

{% block title %}Atomic Discoveries{% endblock title %}

{% block content %}

    {% for message in messages %}
    <div class="message-center {{message.tags}}">{{message}}</div>
    {% endfor %}

    <section class="hero">
        <div class='hero-title'>
            <h1 class='animate-on-scroll slide-right'>Conheça o <span>Mundo da Ciências</span> de forma rápida e intuitiva.</h1>
            <img src="{% static "assets/scientist-cuate.png" %}" alt="" class='animate-on-scroll slide-up'>
        </div>

        <div class='introduction'>
            <div class="frame animate-on-scroll slide-up"><p>Explore o Elementos Químicos com apenas um click</p></div>
            <div class="frame animate-on-scroll slide-up"><p>Contribua com publicações de atividades, jogos e notícias do mundo da ciências</p></div>
            <div class="frame animate-on-scroll slide-up"><p>Interaja com uma Comunidade de Estudantes e Educadores</p></div>
        </div>
    </section>

    <section class="about">
        <h2 class='animate-on-scroll slide-up'>SOBRE O SITE</h2>

        <div class="objectives animate-on-scroll slide-up">
            <div class="frame">
                <div class="background-img">
                    <img src="{% static "assets/laboratory.jpeg" %}" alt="" class="objective-img">
                </div>
                <p class='objectives-text'>Buscamos <strong>Facilitar o Acesso ao Conhecimento Científico</strong>, disponibilizando informações claras e acessíveis sobre elementos químicos e conceitos científicos.</p>
                <a href="{% url "table_elements:table" %}" class="default-button orange-round center button-animate">Tabela periódica</a>
            </div>
            <div class="frame">
                <div class="background-img">
                    <img src="{% static "assets/kids.jpeg" %}" alt="" class="objective-img">
                </div>
                <p class='objectives-text'>Estimulamos a <strong>Criatividade e o Interesse pela Ciência</strong>, oferecerendo recursos e jogos didáticos que tornam o aprendizado divertido e envolvente.</p>
                <a href="{% url "learn_lab:learn_lab_home" %}" class="default-button orange-round center button-animate">learn-lab</a>
            </div>
            <div class="frame">
                <div class="background-img">
                    <img src="{% static "assets/scientists.jpg" %}" alt="" class="objective-img">
                </div>
                <p class='objectives-text'>Fomentamos a <strong>Colaboração e a Contribuição da Comunidade</strong>, permitindo que usuários compartilhem atividades, experiências e descobertas no campo da ciência.</p>
                <a href="{% url "users:login" %}" class="default-button orange-round center button-animate">Junte-se a nós</a>
            </div>
        </div>
    </section>

    <section class='site-content'>
        <h3 class='animate-on-scroll slide-up'>ÁREAS ABORDADAS</h3>

        <div class="subject-section animate-on-scroll slide-left">
            <h4>Química</h4>
            <div class='subject-content-container'>
                <div class="subject-icon">
                    <img src="{% static "assets/moleculas.png" %}" alt="">
                </div>
                <div class="subject-content">
                    <p>A Química explora a composição, estrutura, propriedades e mudanças da matéria. É essencial para diversas aplicações na indústria, medicina e tecnologia.</p>
                    <a href="" class='default-button orange-square button-animate'>Saiba mais</a>
                </div>
            </div>
        </div>

        <div class="subject-section animate-on-scroll slide-left">
            <h4>Biologia</h4>
            <div class='subject-content-container'>
                <div class="subject-icon">
                    <img src="{% static "assets/dna.png" %}" alt="">
                </div>
                <div class="subject-content">
                    <p>A Biologia é a ciência que estuda os seres vivos, suas interações e processos vitais. É fundamental para a compreensão da vida em todas as suas formas e níveis.</p>
                    <a href="" class='default-button orange-square button-animate'>Sabia mais</a>
                </div>
            </div>
        </div>

        <div class="subject-section animate-on-scroll slide-left">
            <h4>Física</h4>
            <div class='subject-content-container'>
                <div class="subject-icon">
                    <img src="{% static "assets/berco-newton.png" %}" alt="">
                </div>
                <div class="subject-content">
                    <p>A Física investiga os princípios fundamentais que governam o universo, desde partículas subatômicas até galáxias. Contribui significativamente para o avanço tecnológico.</p>
                    <a href="" class='default-button orange-square button-animate'>Sabia mais</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
