{% extends "global/base.html" %}

{% block content %}
<section class="change-password">
{% for message in messages %}
    <div class="message-center {{message.tags}}">{{message}}</div>
{% endfor %}
    <h2>Alterar senha</h2>
    <form method="post" action="{{form_action}}">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{id_for_label}}">{{field.label}}</label>
            <div>{{field}}</div>
            {% if field.errors %}
                <span>{{field.errors}}</span>
            {% endif %}
            <p>{{field.help_text}}</p>
        {% endfor %}
        <button type="submit">Alterar senha</button>
      </form>
</section>
{% endblock content %}