{% extends "global/base.html" %}

{% block title %}Cadastro{% endblock title %}

{% block content %}

    <section class="register-container">
        <div class="register-description">
            <h2>Bem Vindo!</h2>
            <p>Aqui você poderá se registrar, e fazer parte da comunidade de cientistas e professores que buscam manter a educação de
                ciências dinâmica e interativa
            </p>
        </div>

        <div class="register-user">
            
        </div>
    </section>

{% endblock content %}