{% extends "global/base.html" %}

{% load static %}
{% block title %}Cadastro{% endblock title %}

{% block content %}

    {% for message in messages %}
        <div class="message-center {{message.tags}}">{{message}}</div>
    {% endfor %}
    <div class="background-img">
        <img src="{% static "src/background_register.jpg" %}" alt="">
    </div>
    <section class="register-content-container">
        <div class="register-description">
            <h2>Bem Vindo!</h2>
            <p>Aqui você poderá se registrar, e fazer parte da comunidade de cientistas e professores que buscam manter a educação de
                ciências dinâmica e interativa
            </p>
        </div>

        <div class="register-content">
            <div class="register-user">
                <h2>Cadastre-se</h2>
                <form action="{% url "users:register_create" %}" class="register-form" method='POST'>
                    {% csrf_token %}
                    <div class="field first-name-field">
                        <div class='field-label'>{{form.first_name.label}}</div>
                        <div class='field-input'>{{form.first_name}}</div>
                        <div class="field-errors">{{form.first_name.errors}}</div>
                    </div>
                    <div class="field last-name-field">
                        <div class='field-label'>{{form.last_name.label}}</div>
                        <div class='field-input'>{{form.last_name}}</div>
                        <div class="field-errors">{{form.last_name.errors}}</div>
                    </div>
                    <div class="field username-field">
                        <div class='field-label'>{{form.username.label}}</div>
                        <div class='field-input'>{{form.username}}</div>
                        <div class="field-errors">{{form.username.errors}}</div>
                    </div>
                    <div class="field email-field">
                        <div class='field-label'>{{form.email.label}}</div>
                        <div class='field-input'>{{form.email}}</div>
                        <div class="field-errors">{{form.email.errors}}</div>
                    </div>
                    <div class="field password-field">
                        <div class='field-label'>{{form.password.label}}</div>
                        <div class='field-input'>{{form.password}}</div>
                        <div class="field-errors">{{form.password.errors}}</div>
                    </div>
                    <div class="field password-field">
                        <div class='field-label'>{{form.password2.label}}</div>
                        <div class='field-input'>{{form.password2}}</div>
                        <div class="field-errors">{{form.password2.errors}}</div>
                    </div>
                    <div class="button-content">
                        <button type="submit" class='submit-button'>Cadastrar</button>
                    </div>
                </form>
        </div>
    </div>
    </section>

{% endblock content %}