{% extends "global/base.html" %}
{% load static %}

{% block title %}Políticas do Site{% endblock title %}

{% block content %}
    <section class="privacy-police">
        <div class="policies-introduction">
            <div>
                <h1>Políticas de Privacidade</h1>
                <p>Esta seção descreve como o site Atomic Discoveries coleta, usa e protege as informações pessoais fornecidas pelos usuários. Ao registrar-se no site, você concorda com a coleta e uso de informações de acordo com esta política.</p>
                </div>
            <div class="image-container">
                <img src="{% static "assets/privacy-policy.png" %}" alt="Imagem criada por Storyset - https://storyset.com">
                <a class="text-xs text-blue text-center block" href="https://storyset.com/online">Online illustrations by Storyset</a>
            </div>
        </div>

        <div class="terms">
            <div class="container">
                <div class="term-item">
                    <h2 id="term-police1">Informações do Proprietário</h2>
                    <p>Este site é de propriedade e operado por Ricardo Venicius Silva de Oliveira. Para qualquer questão relacionada à privacidade, coleta de dados, ou outras preocupações, você pode entrar em contato conosco através do seguinte e-mail: <span>ricvenicius@gmail.com</span>.</p>
                    <h2 id="term-police2">Informações do Usuário</h2>
                    <p>Quando você se registra no nosso site, coletamos as seguintes informações pessoais:
                        <br><br>
                        <strong>I.</strong> Nome completo: para identificação e personalização da experiência no site.
                        <br>
                        <strong>II.</strong> E-mail: para comunicação, incluindo confirmações de registro e notificações sobre atividades no site.</p>

                    <h3>Uso das Informações</h3>
                    <p>As informações que coletamos são utilizadas para:
                        <br><br>
                        <strong>I.</strong> Gerenciar sua conta: para criar e manter seu perfil e permitir o acesso às funcionalidades do site.
                        <br>
                        <strong>II.</strong> Comunicação: para enviar e-mails relacionados ao seu uso do site, como atualizações, notificações e informações importantes.
                        <br>
                        <strong>III.</strong> Melhorar nossos serviços: para entender como o site é usado e identificar áreas para melhorias.</p>

                    <h3>Proteção das Informações</h3>
                    <p>Adotamos medidas de segurança para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão de dados pela Internet pode ser completamente segura, e não podemos garantir a segurança absoluta.</p>

                    <h3>Compartilhamento de Informações</h3>
                    <p>Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para cumprir a lei ou proteger nossos direitos legais. Não vendemos ou alugamos suas informações a terceiros.</p>
                </div>

                <div class="term-item">
                    <h2 id="term-police3">Conteúdo e Adequação</h2>
                    <p>O site Atomic Discoveries é projetado para ser acessível a todas as idades. Nos esforçamos para garantir que o conteúdo publicado seja apropriado e respeite todas as sensibilidades. Incentivamos a comunidade a contribuir de forma responsável e a respeitar as diretrizes de conteúdo. Caso você encontre qualquer material que considere inapropriado, entre em contato conosco para que possamos tomar as devidas providências.</p>
                </div>

                <div class="term-item">
                    <h2 id="term-police4">Seus Direitos</h2>
                    <p><strong>I. Acesso e Correção de Informações Pessoais:</strong> <br>
                        Você tem o direito de acessar as informações pessoais que coletamos sobre você. Se você identificar qualquer erro ou desejar atualizar suas informações, você pode solicitar a correção dos dados a qualquer momento. Isso pode ser feito de maneira simples e direta através das configurações da sua conta.
                        <br><br>
                        <strong>II. Deleção de Conta e Informações Pessoais:</strong> <br>
                        Você tem o direito de solicitar a exclusão da sua conta e de todas as informações pessoais associadas a ela. Para fazer isso, você pode fazer a solicitação entrando entrar em contato diretamente conosco. Lembre-se de que a exclusão da sua conta resultará na perda de acesso a todas as funcionalidades do site e na remoção de qualquer conteúdo que você tenha postado.
                        <br><br>
                        <strong>III. Gerenciamento de Conteúdos Postados:</strong> <br>
                        Você tem o direito de gerenciar os conteúdos que postou no site, incluindo atividades, comentários, avaliações e outros materiais compartilhados. Você pode excluir esses conteúdos a qualquer momento, utilizando as opções disponíveis em sua conta. No entanto, para editar uma atividade que já tenha sido aprovada por nossos moderadores, será necessário solicitar a edição, explicando as alterações desejadas. Nossa equipe revisará sua solicitação e aprovará as modificações conforme as diretrizes do site. Em caso de dúvidas ou necessidade de assistência, entre em contato com nossa equipe de suporte.
                        <br><br>
                        <strong>IV. Solicitação de Remoção de Conteúdos Inapropriados:</strong> <br>
                        Caso você encontre conteúdo no site que julgue ser inapropriado, ofensivo ou que viole nossas diretrizes, você tem o direito de solicitar sua remoção ou reportar o conteúdo para análise. Oferecemos ferramentas para que você possa denunciar conteúdos diretamente no site. Nossa equipe revisará todas as denúncias com seriedade e tomará as medidas necessárias, que podem incluir a remoção do conteúdo ou a aplicação de sanções ao usuário responsável.
                        <br><br>
                </div>

                <div class="term-item">
                    <h2 id="term-police5">Alterações na Política</h2>
                    <p>Podemos atualizar esta Política de Privacidade periodicamente. Qualquer alteração será publicada nesta página com uma data de revisão atualizada. Recomendamos que você verifique esta página regularmente para estar ciente de quaisquer modificações.</p>
                </div>

                <div class="term-item">
                    <h2 id="term-police6">Contato</h2>
                    <p>Se você tiver dúvidas ou preocupações sobre esta Política de Privacidade ou sobre como suas informações são tratadas, entre em contato conosco através do e-mail: <span>[email]</span></p>
                </div>
            </div>
            <div class="summary">
                <nav>
                    <h4>Nesta sessão:</h4>
                    <ol>
                        <li><a href="#term-police1">Informações do Proprietário</a></li>
                        <li><a href="#term-police2">Informações do Usuário</a></li>
                        <li><a href="#term-police3">Conteúdo e Adequação</a></li>
                        <li><a href="#term-police4">Seus Direitos</a></li>
                        <li><a href="#term-police5">Alterações na Política</a></li>
                        <li><a href="#term-police6">Contato</a></li>

                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="terms-of-use" id="terms-of-use">
        <div class="policies-introduction">
            <div>
                <h1>Termos de Uso</h1>
                <p>Ao acessar e usar o site Atomic Discoveries, você concorda em cumprir e estar vinculado aos seguintes Termos de Uso. Se você não concordar com estes termos, por favor, não utilize o Site.</p>
            </div>
            <div class="image-container">
                <img src="{% static "assets/terms-of-use.png" %}" alt="Imagem criada por Storyset - https://storyset.com">
                <a class="text-xs text-blue text-center block" href="https://storyset.com/business">Business illustrations by Storyset</a>
            </div>
        </div>

        <div class="terms">
            <div class="container">
                <div class="term-item">
                    <h2 id="term-user1">Uso do Site</h2>
                    <p>O Site destina-se a fornecer informações educacionais sobre ciência, especialmente química, e permitir que usuários compartilhem e acessem atividades educacionais. Você concorda em usar o Site apenas para fins legais e de acordo com todas as leis e regulamentos aplicáveis.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user2">Conta de Usuário</h2>
                    <p>Para acessar certas funcionalidades do site, você pode precisar criar uma conta. Ao criar uma conta, você concorda em fornecer informações precisas, completas e atualizadas. É sua responsabilidade manter a confidencialidade de suas credenciais de login e notificar-nos imediatamente sobre qualquer uso não autorizado da sua conta. Ao se cadastrar, você estará concordando com os nossos Termos de Uso e Políticas de Privacidade. Se você não concordar com qualquer parte destes termos, por favor, não utilize o nosso site.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user3">Conteúdo do Usuário</h2>
                    <p>Você é o único responsável por todo o conteúdo que publica no Site, incluindo, mas não se limitando a, atividades educacionais, comentários e avaliações. Ao submeter qualquer conteúdo, você concede ao Site uma licença global, não exclusiva, irrevogável e isenta de royalties para usar, reproduzir, modificar, adaptar, publicar, traduzir, distribuir e exibir publicamente esse conteúdo em qualquer meio, agora conhecido ou desenvolvido no futuro. Essa licença permite ao Site promover, divulgar e oferecer acesso ao conteúdo de acordo com as finalidades e os objetivos da plataforma, sempre respeitando as políticas e diretrizes vigentes.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user4">Propriedade Intelectual</h2>
                    <p>Todo o conteúdo disponível no Site, incluindo, mas não se limitando a, textos, gráficos, logotipos, imagens, vídeos e software, é de propriedade exclusiva do Site ou de seus licenciadores e está protegido por leis de direitos autorais, marcas registradas e outras normas de propriedade intelectual. Qualquer uso, reprodução, modificação, distribuição ou exibição do conteúdo sem autorização expressa é estritamente proibido, exceto nos casos permitidos pela legislação aplicável. A utilização do Site não concede a você nenhum direito de propriedade sobre o conteúdo, e o uso inadequado pode resultar em medidas legais.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user5">Restrições</h2>
                    <p>Você concorda em não:</p>

                        <ul>
                            <li>Usar o Site para qualquer propósito ilegal ou não autorizado.</li>
                            <li>Tentar obter acesso não autorizado ao Site, ou a outros sistemas ou redes conectados ao Site.</li>
                            <li>Utilizar o conteúdo do Site de maneira que viole os direitos autorais ou outras leis de propriedade intelectual, exceto nos casos permitidos pela legislação ou com a devida citação da fonte.</li>
                        </ul>
                    <br>
                    <p>Embora o conteúdo do Site seja baseado em pesquisas e possa ser utilizado para fins educacionais e de referência, incentivamos o respeito aos direitos autorais e a atribuição adequada das fontes. Se desejar criar trabalhos derivados, copiar ou distribuir o conteúdo, faça-o de maneira ética e conforme as diretrizes de uso justo.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user6">Isenção de Responsabilidade</h2>
                    <p>O Site é fornecido "no estado em que se encontra" e "conforme disponível". Não garantimos que o Site estará sempre disponível, livre de erros ou livre de vírus. Não nos responsabilizamos por quaisquer danos resultantes do uso ou incapacidade de usar o Site.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user7">Modificações dos Termos</h2>
                    <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. Qualquer modificação será publicada no Site e entrará em vigor imediatamente após a publicação. É sua responsabilidade revisar periodicamente estes Termos de Uso para estar ciente de quaisquer alterações.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user8">Links para Sites de Terceiros</h2>
                    <p>O Site pode conter links para sites de terceiros. Esses links são fornecidos apenas para conveniência e não implicam que endossamos ou somos responsáveis pelo conteúdo desses sites. Você acessa sites de terceiros por sua conta e risco.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-user9">Lei Aplicável</h2>
                    <p>Estes Termos de Uso serão regidos e interpretados de acordo com as leis do [país ou estado] onde o Site está operando, sem considerar seus princípios de conflito de leis.</p>
                </div>
            </div>
            <div class="summary">
                <nav>
                    <h4>Nesta sessão:</h4>
                    <ol>
                        <li><a href="#term-user1">Uso do Site</a></li>
                        <li><a href="#term-user2">Conta de Usuário</a></li>
                        <li><a href="#term-user3">Conteúdo do Usuário</a></li>
                        <li><a href="#term-user4">Propriedade Intelectual</a></li>
                        <li><a href="#term-user5">Restrições</a></li>
                        <li><a href="#term-user6">Isenção de Responsabilidade</a></li>
                        <li><a href="#term-user7">Modificações dos Termos</a></li>
                        <li><a href="#term-user8">Links para Sites de Terceiros</a></li>
                        <li><a href="#term-user9">Lei Aplicável</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="legal-notice" id="legal-notice">
        <div class="policies-introduction">
            <div>
                <h1>Aviso Legal</h1>
                <p>O conteúdo disponível no site Atomic Discoveries é fornecido apenas para fins informativos e educacionais. Embora façamos o possível para garantir que as informações apresentadas no Site sejam precisas e atualizadas, não oferecemos garantias ou representações quanto à sua exatidão, integridade ou adequação para qualquer finalidade.</p>
                </div>
            <div class="image-container">
                <img src="{% static "assets/legal-notice.png" %}" alt="Imagem criada por Storyset - https://storyset.com">
                <a class="text-xs text-blue text-center block" href="https://storyset.com/web">Web illustrations by Storyset</a>
            </div>
        </div>

        <div class="terms">
            <div class="container">
                <div class="term-item">
                    <h2 id="term-notice1">Isenção de Responsabilidade</h2>
                    <p>O uso das informações e conteúdos disponíveis no Site é de sua inteira responsabilidade. O Site, seus proprietários, colaboradores e parceiros não serão responsáveis por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso ou incapacidade de usar o Site ou qualquer conteúdo fornecido nele.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice2">Uso de Conteúdo de Terceiros</h2>
                    <p>O Site pode incluir links para sites de terceiros, informações fornecidas por usuários e outros conteúdos que não controlamos. Não nos responsabilizamos por qualquer conteúdo de terceiros, incluindo, mas não se limitando a, precisão, legalidade ou decência do material contido nesses sites ou fornecido por terceiros.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice3">Nenhuma Relação Profissional</h2>
                    <p>O uso do Site não cria, de forma alguma, uma relação profissional, confidencial, de consultoria ou fiduciária entre você e o Site ou seus operadores. As informações e recursos fornecidos no Site não devem ser considerados conselhos profissionais ou especializados.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice4">Alterações no Conteúdo</h2>
                    <p>Reservamo-nos o direito de alterar, atualizar ou remover qualquer conteúdo do Site a qualquer momento, sem aviso prévio. Não temos a obrigação de atualizar qualquer informação contida no Site.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice5">Propriedade Intelectual</h2>
                    <p>Todo o conteúdo, incluindo textos, gráficos, logotipos, imagens e software, é de propriedade do Site ou de seus licenciadores, e está protegido por direitos autorais, marcas registradas e outras leis de propriedade intelectual. Você não pode reproduzir, distribuir, ou utilizar o conteúdo do Site sem permissão expressa por escrito.</p>
                </div>
                <div class="term-item">
                    <h2 clasids="term-notice6">Aviso sobre Conformidade Legal</h2>
                    <p>As informações fornecidas no Site podem não estar em conformidade com as leis, regulamentações ou códigos de conduta de todas as jurisdições. É de sua responsabilidade garantir que o uso do Site e dos seus conteúdos esteja em conformidade com as leis locais.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice7">Exclusão de Garantias</h2>
                    <p>O Site é fornecido "como está" e "conforme disponível", sem garantias de qualquer tipo, expressas ou implícitas, incluindo, sem limitação, garantias de comercialização, adequação a uma finalidade específica ou não violação.</p>
                </div>
                <div class="term-item">
                    <h2 id="term-notice8">Limitação de Responsabilidade</h2>
                    <p>Em nenhum caso, o Site, seus proprietários ou qualquer um de seus colaboradores, parceiros ou agentes serão responsáveis por quaisquer danos, incluindo, mas não se limitando a, danos diretos, indiretos, incidentais, especiais, consequenciais ou punitivos, decorrentes do uso ou da incapacidade de usar o Site ou o conteúdo nele disponível.</p>
                </div>
            </div>
            <div class="summary">
                <nav>
                    <h4>Nesta sessão:</h4>
                    <ol>
                        <li><a href="#term-notice1">Isenção de Responsabilidade</a></li>
                        <li><a href="#term-notice2">Uso de Conteúdo de Terceiros</a></li>
                        <li><a href="#term-notice3">Nenhuma Relação Profissional</a></li>
                        <li><a href="#term-notice4">Alterações no Conteúdo</a></li>
                        <li><a href="#term-notice5">Propriedade Intelectual</a></li>
                        <li><a href="#term-notice6">Aviso sobre Conformidade Legal</a></li>
                        <li><a href="#term-notice7">Exclusão de Garantias</a></li>
                        <li><a href="#term-notice8">Limitação de Responsabilidade</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
{% endblock content %}