{% block grid_item %}
    <!-- Primeira linha -->

    <a href="{% url "tabela_elementos:single_element" slug='hidrogenio' %}" class='link-elemento'><div class="grid-item ametal"><div class="num-atom atom-mass"><span>1</span><span>1.008</span></div><h2 class="element">H</h2><p class="element-name">Hidrogênio</p></div></a> 
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>2</span><span>4.002</span></div><h2 class="element">He</h2><p class="element-name">Hélio</p></div>
    
    <!-- Segunda Linha -->
    
    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>3</span><span>6.967</span></div><h2 class="element">Li</h2><p class="element-name">Lítio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>4</span><span>9.012</span></div><h2 class="element">Be</h2><p class="element-name">Berílio</p></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>5</span><span>10.813</span></div><h2 class="element">B</h2><p class="element-name">Boro</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>6</span><span>12.010</span></div><h2 class="element">C</h2><p class="element-name">Carbono</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>7</span><span>14.007</span></div><h2 class="element">N</h2><p class="element-name">Nitrogênio</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>8</span><span>15.999</span></div><h2 class="element">O</h2><p class="element-name">Oxigênio</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>9</span><span>18.998</span></div><h2 class="element">F</h2><p class="element-name">Flúor</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>10</span><span>20.18</span></div><h2 class="element">Ne</h2><p class="element-name">Neônio</p></div>
    
    <!-- Terceira Linha -->

    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>11</span><span>22.98</span></div><h2 class="element">Na</h2><p class="element-name">Sódio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>12</span><span>24.30</span></div><h2 class="element">Mg</h2><p class="element-name">Magnésio</p></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>13</span><span>26.98</span></div><h2 class="element">Al</h2><p class="element-name">Alumínio</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>14</span><span>28.08</span></div><h2 class="element">Si</h2><p class="element-name">Silício</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>15</span><span>30.97</span></div><h2 class="element">P</h2><p class="element-name">Fósforo</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>16</span><span>30.97</span></div><h2 class="element">S</h2><p class="element-name">Enxofre</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>17</span><span>18.998</span></div><h2 class="element">Cl</h2><p class="element-name">Cloro</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>18</span><span>20.18</span></div><h2 class="element">Ar</h2><p class="element-name">Argônio</p></div>
    
    <!-- Quarta Linha -->
    
    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>19</span><span>22.98</span></div><h2 class="element">K</h2><p class="element-name">Potássio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>20</span><span>24.30</span></div><h2 class="element">Ca</h2><p class="element-name">Cássio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>20</span><span>24.30</span></div><h2 class="element">Sc</h2><p class="element-name">Escândio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>21</span><span>24.30</span></div><h2 class="element">Ti</h2><p class="element-name">Titânio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>22</span><span>24.30</span></div><h2 class="element">V</h2><p class="element-name">Vanádio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>23</span><span>24.30</span></div><h2 class="element">Cr</h2><p class="element-name">Crômio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>24</span><span>24.30</span></div><h2 class="element">Mn</h2><p class="element-name">Manganês</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>25</span><span>24.30</span></div><h2 class="element">Fe</h2><p class="element-name">Ferro</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>26</span><span>24.30</span></div><h2 class="element">Co</h2><p class="element-name">Cobalto</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>28</span><span>24.30</span></div><h2 class="element">Ni</h2><p class="element-name">Níquel</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>29</span><span>24.30</span></div><h2 class="element">Cu</h2><p class="element-name">Cobre</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>30</span><span>24.30</span></div><h2 class="element">Zn</h2><p class="element-name">Zinco</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>31</span><span>26.98</span></div><h2 class="element">Ga</h2><p class="element-name">Gálio</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>32</span><span>28.08</span></div><h2 class="element">Ge</h2><p class="element-name">Germânio</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>33</span><span>28.08</span></div><h2 class="element">As</h2><p class="element-name">Arsênio</p></div>
    <div class="grid-item ametal"><div class="num-atom atom-mass"><span>34</span><span>30.97</span></div><h2 class="element">Se</h2><p class="element-name">Selênio</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>35</span><span>18.998</span></div><h2 class="element">Br</h2><p class="element-name">Bromo</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>36</span><span>20.18</span></div><h2 class="element">Kr</h2><p class="element-name">Criptônio</p></div>
    
    <!-- Quinta Linha -->

    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>37</span><span>22.98</span></div><h2 class="element">Rb</h2><p class="element-name">Rubídio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>38</span><span>22.98</span></div><h2 class="element">Sr</h2><p class="element-name">Estrôncio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>39</span><span>24.30</span></div><h2 class="element">Y</h2><p class="element-name">Ítrio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>40</span><span>24.30</span></div><h2 class="element">Zr</h2><p class="element-name">Zircônio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>41</span><span>24.30</span></div><h2 class="element">Nb</h2><p class="element-name">Nióbio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>42</span><span>24.30</span></div><h2 class="element">Mo</h2><p class="element-name">Molibdênio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>43</span><span>24.30</span></div><h2 class="element">Tc</h2><p class="element-name">Tecnécio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>44</span><span>24.30</span></div><h2 class="element">Ru</h2><p class="element-name">Rutênio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>45</span><span>24.30</span></div><h2 class="element">Rh</h2><p class="element-name">Ródio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>46</span><span>24.30</span></div><h2 class="element">Pd</h2><p class="element-name">Paládio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>47</span><span>24.30</span></div><h2 class="element">Ag</h2><p class="element-name">Prata</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>48</span><span>24.30</span></div><h2 class="element">Cd</h2><p class="element-name">Cádmio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>49</span><span>26.98</span></div><h2 class="element">In</h2><p class="element-name">Índio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>50</span><span>26.98</span></div><h2 class="element">Sn</h2><p class="element-name">Estanho</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>51</span><span>28.08</span></div><h2 class="element">Sb</h2><p class="element-name">Antimônio</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>52</span><span>28.08</span></div><h2 class="element">Te</h2><p class="element-name">Telúrio</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>53</span><span>18.998</span></div><h2 class="element">I</h2><p class="element-name">Iodo</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>54</span><span>20.18</span></div><h2 class="element">Xe</h2><p class="element-name">Xenônio</p></div>

    <!-- Sexta Linha -->

    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>55</span><span>132.91</span></div><h2 class="element">Cs</h2><p class="element-name">Césio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>56</span><span>137.33</span></div><h2 class="element">Ba</h2><p class="element-name">Bário</p></div>
    <div class="grid-item lantanide-se"><span class='elements'>57-71</span></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>72</span><span>178.49</span></div><h2 class="element">Hf</h2><p class="element-name">Háfnio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>73</span><span>180.95</span></div><h2 class="element">Ta</h2><p class="element-name">Tântalo</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>74</span><span>183.84</span></div><h2 class="element">W</h2><p class="element-name">Tungstênio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>75</span><span>186.21</span></div><h2 class="element">Re</h2><p class="element-name">Rênio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>76</span><span>190.23</span></div><h2 class="element">Os</h2><p class="element-name">Ósmio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>77</span><span>192.22</span></div><h2 class="element">Ir</h2><p class="element-name">Irídio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>78</span><span>195.08</span></div><h2 class="element">Pt</h2><p class="element-name">Platina</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>79</span><span>196.97</span></div><h2 class="element">Au</h2><p class="element-name">Ouro</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>80</span><span>200.59</span></div><h2 class="element">Hg</h2><p class="element-name">Mercúrio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>81</span><span>204.38</span></div><h2 class="element">Tl</h2><p class="element-name">Tálio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>82</span><span>207.2</span></div><h2 class="element">Pb</h2><p class="element-name">Chumbo</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>83</span><span>208.98</span></div><h2 class="element">Bi</h2><p class="element-name">Bismuto</p></div>
    <div class="grid-item semimetal"><div class="num-atom atom-mass"><span>84</span><span>209</span></div><h2 class="element">Po</h2><p class="element-name">Polônio</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>85</span><span>210</span></div><h2 class="element">At</h2><p class="element-name">Astato</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>86</span><span>222</span></div><h2 class="element">Rn</h2><p class="element-name">Radônio</p></div>
    
    <!-- Sétima Linha -->
    
    <div class="grid-item metal-alcaline"><div class="num-atom atom-mass"><span>87</span><span>223</span></div><h2 class="element">Fr</h2><p class="element-name">Frâncio</p></div>
    <div class="grid-item metal-alcaline-2"><div class="num-atom atom-mass"><span>88</span><span>226</span></div><h2 class="element">Ra</h2><p class="element-name">Rádio</p></div>
    <div class="grid-item actinide-se"><span class='elements'>121-127</span></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>104</span><span>267</span></div><h2 class="element">Rf</h2><p class="element-name">Rutherfordium</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>105</span><span>270</span></div><h2 class="element">Db</h2><p class="element-name">Dúbnio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>106</span><span>271</span></div><h2 class="element">Sg</h2><p class="element-name">Seabórgio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>107</span><span>270</span></div><h2 class="element">Bh</h2><p class="element-name">Bóhrio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>108</span><span>277</span></div><h2 class="element">Hs</h2><p class="element-name">Hássio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>109</span><span>278</span></div><h2 class="element">Mt</h2><p class="element-name">Meitnério</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>110</span><span>281</span></div><h2 class="element">Ds</h2><p class="element-name">Darmstádtio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>111</span><span>282</span></div><h2 class="element">Rg</h2><p class="element-name">Roentgênio</p></div>
    <div class="grid-item trans-metal"><div class="num-atom atom-mass"><span>112</span><span>285</span></div><h2 class="element">Cn</h2><p class="element-name">Copernício</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>113</span><span>286</span></div><h2 class="element">Nh</h2><p class="element-name">Nihônio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>114</span><span>289</span></div><h2 class="element">Fl</h2><p class="element-name">Fleróvio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>115</span><span>290</span></div><h2 class="element">Mc</h2><p class="element-name">Moscóvio</p></div>
    <div class="grid-item semiconductor"><div class="num-atom atom-mass"><span>116</span><span>293</span></div><h2 class="element">Lv</h2><p class="element-name">Livermório</p></div>
    <div class="grid-item halogen"><div class="num-atom atom-mass"><span>117</span><span>294</span></div><h2 class="element">Ts</h2><p class="element-name">Tenessino</p></div>
    <div class="grid-item nobel-gas"><div class="num-atom atom-mass"><span>118</span><span>294</span></div><h2 class="element">Og</h2><p class="element-name">Oganessônio</p></div>
    
    <!-- Quebra de linha -->

    <div class="grid-item line-break"></div>

    <!-- Semisexta Linha -->
    
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>57</span><span>138.91</span></div><h2 class="element">La</h2><p class="element-name">Lantânio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>58</span><span>140.12</span></div><h2 class="element">Ce</h2><p class="element-name">Cério</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>59</span><span>140.91</span></div><h2 class="element">Pr</h2><p class="element-name">Praseodímio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>60</span><span>144.24</span></div><h2 class="element">Nd</h2><p class="element-name">Neodímio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>61</span><span>145</span></div><h2 class="element">Pm</h2><p class="element-name">Promécio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>62</span><span>150.36</span></div><h2 class="element">Sm</h2><p class="element-name">Samário</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>63</span><span>151.96</span></div><h2 class="element">Eu</h2><p class="element-name">Európio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>64</span><span>157.25</span></div><h2 class="element">Gd</h2><p class="element-name">Gadolínio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>65</span><span>158.93</span></div><h2 class="element">Tb</h2><p class="element-name">Térbio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>66</span><span>162.50</span></div><h2 class="element">Dy</h2><p class="element-name">Disprósio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>67</span><span>164.93</span></div><h2 class="element">Ho</h2><p class="element-name">Hólmio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>68</span><span>167.26</span></div><h2 class="element">Er</h2><p class="element-name">Érbio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>69</span><span>168.93</span></div><h2 class="element">Tm</h2><p class="element-name">Túlio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>70</span><span>173.04</span></div><h2 class="element">Yb</h2><p class="element-name">Itérbio</p></div>
    <div class="grid-item lantanide"><div class="num-atom atom-mass"><span>71</span><span>174.97</span></div><h2 class="element">Lu</h2><p class="element-name">Lutécio</p></div>

    <!-- Semisétima Linha -->

    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>89</span><span>227</span></div><h2 class="element">Ac</h2><p class="element-name">Actínio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>90</span><span>232.04</span></div><h2 class="element">Th</h2><p class="element-name">Tório</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>91</span><span>231.04</span></div><h2 class="element">Pa</h2><p class="element-name">Protactínio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>92</span><span>238.03</span></div><h2 class="element">U</h2><p class="element-name">Urânio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>93</span><span>237</span></div><h2 class="element">Np</h2><p class="element-name">Netúnio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>94</span><span>244</span></div><h2 class="element">Pu</h2><p class="element-name">Plutônio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>95</span><span>243</span></div><h2 class="element">Am</h2><p class="element-name">Amerício</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>96</span><span>247</span></div><h2 class="element">Cm</h2><p class="element-name">Cúrio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>97</span><span>247</span></div><h2 class="element">Bk</h2><p class="element-name">Berquélio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>98</span><span>251</span></div><h2 class="element">Cf</h2><p class="element-name">Califórnio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>99</span><span>252</span></div><h2 class="element">Es</h2><p class="element-name">Einstênio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>100</span><span>257</span></div><h2 class="element">Fm</h2><p class="element-name">Férmio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>101</span><span>258</span></div><h2 class="element">Md</h2><p class="element-name">Mendelévio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>102</span><span>259</span></div><h2 class="element">No</h2><p class="element-name">Nobélio</p></div>
    <div class="grid-item actinide"><div class="num-atom atom-mass"><span>103</span><span>262</span></div><h2 class="element">Lr</h2><p class="element-name">Laurêncio</p></div>

{% endblock grid_item %}