{% if activity_list_page or profile_page %}
    <div class="activity-content">
        <h2><a href="{{activity.get_absolute_url}}">{{activity.title}}</a></h2>
        {% comment %} {% if activity.file %}
            <div class="acitivity-file-list"><img src="{{activity.thumbnail.url}}" alt="pdf_thumbnail"></div>
        {% else %}
            <div class="no-file-list"></div>
        {% endif %} {% endcomment %}
        <a href='#' class="no-file-list"></a>
        <span class="activity-subject-list">Conteúdo: {{activity.subject}}</span><br>
        <span class="activity-level-list">Turma: {{activity.level}}</span>
    </div>
{% endif %}

{% if activiy_detail_page %}
    <div class="activity-detail-content">
        <h2>{{activity.title}}</h2>

        <div class="detail-description-and-file">
            <div class="detail-description">
                <p>{{activity.description}}</p>
                <ul>
                    <li><strong>Matéria: </strong>{{activity.subject}}</li>
                    <li><strong>Turma: </strong>{{activity.level}}</li>
                </ul>
            </div>
            <div class="detail-file">
                
            </div>
        </div>
    </div>
{% endif %}