{% if activity_list_page or profile_page %}
    <div class="activity-content">
        <h2><a href="{{activity.get_absolute_url}}">{{activity.title}}</a></h2>
        {% comment %} {% if activity.file %}
            <div class="acitivity-file-list"><img src="{{activity.thumbnail.url}}" alt="pdf_thumbnail"></div>
        {% else %}
            <div class="no-file-list"></div>
        {% endif %} {% endcomment %}
        <a href='#' class="no-file-list"></a>
        <span class="activity-subject-list">Conteúdo: {{activity.subject}}</span><br>
        <span class="activity-level-list">Turma: {{activity.level}}</span>
    </div>
{% endif %}

{% if activiy_detail_page %}
    <div class="activity-content-detail">
        <div class="activity-group-detail">
            <h2 class="acitivity-title-detail">{{activity.title}}</h2>
            <div class="description-content">
                <p class="activity-description-detail">{{activity.description}}</p>
                <span class="activity-subject-detail">Matéria: {{activity.subject}}</span><br>
                <span class="activity-level-detail">Turma: {{activity.level}}</span>
            </div>
            {% comment %} {% if activity.file %}
            {% else %}
                <div class="no-file-detail"></div>
            {% endif %} {% endcomment %}
            <div class="no-file-container">
                <div class="no-file-detail"></div>
            </div>
        </div>
    </div>
{% endif %}