{% load static %}

{% if activity_list_page %}
    <div class="activity-content">
        <h2>{{activity.title}}</h2>
        <div class="activity-file">
        </div>
        <ul class="activity-infos">
            <li><strong>Matéria:</strong> <a href="">{{activity.subject}}</a></li>
            <li><strong>Conteúdo:</strong> <a href="">{{activity.content}}</a></li>
            <li><strong>Turma:</strong> <a href="">{{activity.level}}</a></li>
            <li><strong>Autor:</strong> <a href="">{{activity.user}}</a></li>
        </ul>   
        
    </div>
{% endif %}

{% if profile_page %}
    <div class="activity-content">
        <h2><a href="{{activity.get_absolute_url}}">{{activity.title}}</a></h2>
        <a href="{{activity.get_absolute_url}}" class="no-file-list"><img src="{% static "imgs/pdf-file.png" %}" alt=""></a>
        {% if profile_page %}
            <span class="activity-subject-list">Conteúdo: {{activity.subject}}</span><br>
            <span class="activity-level-list">Turma: {{activity.level}}</span>
        {% endif %}
        {% if activity_list_page %}
            <a href="{% url "learn_lab:learn_lab_subject" activity.subject_id %}" class="activity-subject-list">Conteúdo: {{activity.subject}}</a><br>
            <a href="{% url "learn_lab:learn_lab_level" activity.level_id %}" class="activity-level-list">Turma: {{activity.level}}</a>
        {% endif %}
        {% if profile_page %}
            <form action="{% url "learn_lab:activity_delete" activity.slug %}"
            method="POST" class='form-delete-activity' id="form-delete-activity-{{ activity.slug }}">
                {% csrf_token %}
                <input type="hidden" name="activity_slug" value="{{ activity.slug }}">
                <button onclick="confirmeAction(event, 'form-delete-activity-{{ activity.slug }}')" type="submit" id="form-delete-button">❌</button>
            </form>
            <a href="{% url "learn_lab:activity_update" activity.slug %}">📝</a>
        {% endif %}
    </div>
{% endif %}

{% if activiy_detail_page %}
    <div class="activity-detail-content">
        <h2 class="default-center-title">{{activity.title}}</h2> <br><br>

        <div class="detail-description-and-file">
            <div class="detail-description">
                <p>{{activity.description}}</p>
                <ul>
                    <li><strong>Matéria: </strong>{{activity.subject}}</li>
                    <li><strong>Turma: </strong>{{activity.level}}</li>
                </ul>
                <br>
                {% if activity.file %}
                    <a href="{{activity.file.url}}" download class="default-button green-square">Baixar</a>
                {% endif %}
            </div>
            <img src="{% static "imgs/pdf-file.png" %}" alt="" class="acitivity-file-detail">
        </div>
    </div>
{% endif %}